# Python
__pycache__
*.egg
*.egg-info

# Virtualenv
pyvenv.cfg
bin/
[Ss]cripts/
[Ll]ib/
[Ii]nclude/
tcl/

# IDE/Editor Files
*.sublime-workspace
.codeintel
.idea/

# Program data
var/

# Don't ignore these scripts
![Ss]cripts/tracker-cli.py
![Ss]cripts/tracker-web.py
