# Gemfury repo
--extra-index-url https://pypi.fury.io/xvSRZNrCkiBFXAgMu6Au/ashfire908/

# Shared deps
MarkupSafe==0.23  # Used by Mako and Jinja2

# SQLAlchemy
SQLAlchemy==1.0.9
psycopg2==2.6.1

# alembic
alembic==0.8.3
python-editor==0.4
Mako==1.0.3

# Hawken API
hawkenapi==0.7
requests==2.8.1
iso8601==0.1.11

# Redis
redis==2.10.3
msgpack-python==0.4.6

# Flask
Flask==0.10.1
Werkzeug==0.10.4
itsdangerous==0.24
Jinja2==2.8

# Flask-SQLAlchemy
Flask-SQLAlchemy==2.1

# PyJade
pyjade==3.1.0
six==1.10.0
