strong
    | Hello 
    user.username
    | ,

p 
    | A password reset has been requested. To reset your password, please follow this link: 
    a(href=url_for("account.password_reset", token=reset_token, _external=true))= url_for("account.password_reset", token=reset_token, _external=true)

p If you did not request this, you can safely ignore this message.

p
    | Thanks,
    br
    | Hawken Leaderboards
    br
    a(href=url_for("leaderboard.index", _external=true))= url_for("leaderboard.index", _external=true)
