strong
    | Hello 
    user.username
    | ,

p This is a reminder of your account details, by request.

p
    | Username: 
    user.username
    br
    | Email: 
    user.email
    
p If you did not request this email, you can safely ignore it.

p
    | Thanks,
    br
    | Hawken Leaderboards
    br
    a(href=url_for("leaderboard.index", _external=true))= url_for("leaderboard.index", _external=true)
