strong
    | Hello 
    user.username
    | ,

p 
    | Your email is not yet verified. To verify your email, please follow this link: 
    a(href=url_for("account.verify_email", token=verify_token, _external=true))= url_for("account.verify_email", token=verify_token, _external=true)

p If this is not your account, you can simply ignore this message.

p
    | Thanks,
    br
    | Hawken Leaderboards
    br
    a(href=url_for("leaderboard.index", _external=true))= url_for("leaderboard.index", _external=true)
