strong
    | Hello 
    user.username
    | ,

p 
    | Welcome to the Hawken Leaderboards. To verify your email, please follow this link: 
    a(href=url_for("account.verify_email", token=user.email_confirmation_token, _external=true))= url_for("account.verify_email", token=user.email_confirmation_token, _external=true)

p If you did not register this account, you can simply ignore this message.

p
    | Thanks,
    br
    | Hawken Leaderboards
    br
    a(href=url_for("leaderboard.index", _external=true))= url_for("leaderboard.index", _external=true)
