extend layout

block content
    .page-header
        h1 Login

    form.form-horizontal(action=url_for("auth.login", next=request.args.next), method="post", role="form")
        .form-group
            label.col-sm-2.control-label(for="username") Username
            .col-sm-2
                input.form-control(name="username", type="text", placeholder="Username")
        .form-group
            label.col-sm-2.control-label(for="password") Password
            .col-sm-2
                input.form-control(name="password", type="password", placeholder="Password")
        .form-group
            label.col-sm-2.control-label(for="remember") Remember Me
            .col-sm-2
                input.checkbox(name="remember", type="checkbox", value="yes")
        .form-group
            .col-sm-offset-2.col-sm-2.btn-group
                button.btn.btn-success(type="submit") Sign in
                a.btn.btn-default(href=url_for("auth.register", next=request.args.next)) Register
