.navbar.navbar-inverse.navbar-static-top(role="navigation")
    .container
        .navbar-header
            a.navbar-brand(href=url_for("leaderboard.index")) Hawken Tracker
        if last_update
            p.navbar-text Last Update: #{last_update} ago
        ul.nav.navbar-nav.navbar-right
            li#lookup.navbar-form.input-group(role="search")
                input.form-control(type="text", placeholder="Player")
                span.input-group-btn
                    button.btn.btn-default(type="submit") Lookup